In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
meta = pd.read_csv('CRSP_2000.csv', index_col = 0)
meta.head()

C:\Users\hayk.darbinyan\codes\my_Venvs\_venv-310-jupyter\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hayk.darbinyan\codes\my_Venvs\_venv-310-jupyter\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,date,TICKER,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,OPENPRC
PERMNO,,,,,,,,,,
10104,2000/01/03,ORCL,111.6250,125.1875,118.1250,24831819.0,0.054099,118.1250,118.1875,124.62500
10104,2000/01/04,ORCL,105.0000,118.6250,107.6875,29568565.0,-0.08836,107.6875,107.7500,115.50000
10104,2000/01/05,ORCL,96.0000,106.3750,102.0000,42032160.0,-0.052815,102.0000,102.0000,101.62500
10104,2000/01/06,ORCL,94.6875,105.0000,96.0000,27848885.0,-0.058824,96.0000,95.8750,100.15625
10104,2000/01/07,ORCL,93.5625,103.5000,103.3750,23218034.0,0.076823,103.2500,103.3750,95.00000

In [3]:
stocks = set(meta.index)

In [4]:
split_val = '2017/01/01'
split_val1 = '2020/01/01'

for i in stocks:
    data = meta[meta.index == i]
    ticker = data.iloc[0, 1]
    data.set_index('date', inplace = True)
    
    start = data.index[0]
    end = data.index[-1]
    
    if start != '2000/01/03' or end != '2022/03/31':
        continue
    else:
        pass
    
    if start < split_val:
        train_data = data.loc[:split_val]
        val_data = data.loc[split_val:split_val1]
        test_data = data.loc[split_val1:]
        
        train_data.to_csv(f'Train_Data/{ticker}.csv', index = True)
        val_data.to_csv(f'Val_Data/{ticker}.csv', index = True)
        test_data.to_csv(f'Test_Data/{ticker}.csv', index = True)
    elif start >= split_val and start < split_val1:    
        val_data = data.loc[:split_val1]
        test_data = data.loc[split_val1:]
        
        val_data.to_csv(f'Val_Data/{ticker}.csv', index = True)
        test_data.to_csv(f'Test_Data/{ticker}.csv', index = True)
    else:
        test_data = data
        test_data.to_csv(f'Test_Data/{ticker}.csv', index = True)
    
    
#     data.to_csv('Data/{}.csv'.format(ticker), index = True)

In [5]:
meta[meta.index == 10104]

,date,TICKER,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,OPENPRC
PERMNO,,,,,,,,,,
10104,2000/01/03,ORCL,111.6250,125.1875,118.1250,24831819.0,0.054099,118.1250,118.1875,124.62500
10104,2000/01/04,ORCL,105.0000,118.6250,107.6875,29568565.0,-0.08836,107.6875,107.7500,115.50000
10104,2000/01/05,ORCL,96.0000,106.3750,102.0000,42032160.0,-0.052815,102.0000,102.0000,101.62500
10104,2000/01/06,ORCL,94.6875,105.0000,96.0000,27848885.0,-0.058824,96.0000,95.8750,100.15625
10104,2000/01/07,ORCL,93.5625,103.5000,103.3750,23218034.0,0.076823,103.2500,103.3750,95.00000
...,...,...,...,...,...,...,...,...,...,...
10104,2022/03/25,ORCL,81.2300,82.8400,81.7300,5685003.0,-0.006201,81.7300,81.7400,82.04000
10104,2022/03/28,ORCL,81.7400,83.7068,83.6000,6626753.0,0.02288,83.6000,83.6100,81.74000
10104,2022/03/29,ORCL,83.1130,84.5100,84.2900,5762029.0,0.008254,84.2900,84.3000,84.49000
10104,2022/03/30,ORCL,83.1200,84.3600,83.3600,5533157.0,-0.011033,83.3600,83.3800,83.96000
10104,2022/03/31,ORCL,82.5900,83.9100,82.7300,9433347.0,-0.007558,82.7300,82.7400,83.11000